<app-map [isMapLoaded]="isMapLoaded"
  [latitude]="51.1109446"
  [longitude]="17.034881"
  (mapInit)="map = $event">

  <app-marker *ngFor="let pin of pins"
    [latitude]="pin.latitude"
    [longitude]="pin.longitude"
    [map]="map">

    <div style="color: white;
      font-size: 1rem;
      width: 100px;
      height: 50px;
      background-color: blue;">
      {{pin.label}}
    </div>

  </app-marker>


</app-map>


<app-marker [latitude]="51.110191"
  [longitude]="17.03186"
  [map]="map">
  <div style="color: white;
      font-size: 1rem;
      width: 50px;
      height: 50px;
      background-color: red;">
    City center
  </div>
</app-marker>
